#content {
  width: 100%;
  height: 100vh;
}

html, body {
  width: 100%;
  height: 100%;
}

#container-pedidos {
  display: flex;
  width: 100%;
  height: 95%;
}

#pedidos-left,
#pedidos-right {
  flex: 1;
  height: 100%;
  border: 1px solid #ccc;
  margin: 15px;
  border-radius: 10px;
}

#pedidos-left {
  display: flex;
  flex-direction: column;
}

#pedidos-list {
    flex: 2;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 10px;
    overflow: auto;
    font-size: 20px;
    padding-left: 15px;
    padding-top: 15px;
}

#total {
  flex: 1;
}

#produtos-list {
  width: 100%;
  height: 100%;
}

#pedidos-right {
    overflow: auto;
}

#total {
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 10px;
}

.produto {
    cursor: pointer;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #ccc;
    height: 40px;
    font-size: 20px;
    border-bottom: 1px solid black;
}

.produto:hover {
  background-color: rgb(125, 125, 133);
  transform: scale(1.1);
}

.preco {
    margin-left: 10px;
}

.btn-remover {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.btn-remover:hover {
  transform: scale(1.2);
}

#total-valor {
  position: relative;
  top: 45%;
  left: 15%;
  font-size: 30px;
}

#btnVender {
  position: relative;
  top: 40%;
  left: 30%;
  width: 80px;
  height: 50px;
  border-radius: 10px;
}

#btnVender:hover {
  transform: scale(1.1);
}